# Python / Django
*.pyc
__pycache__/
.env
requriements
db.sqlite3
identifier.sqlite
.venv/
uv.lock

# PyCharm
.idea/

# macOS
.DS_Store

# Node / React
node_modules/
dist/
QuickNoteFrontend/package-lock.json  # optional
QuickNoteFrontend/.gitignore